@use "src/comun/estilo/color";

.modulo {

  .table-container {
    color: color.$background-color-primary;
    overflow: scroll;

    .table-cell-titulo {
      color: color.$background-color-primary;
      background-color: color.$background-color-secundary;
      font-weight: bold;
      text-align: center;
      border-bottom: 2px solid;
    }

    .table-cell {
      color: color.$background-color-primary;
      text-align: center;
      padding: 10px;
      min-height: 5px;

      .truncate-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px; // Adjust as needed
      }
    }

  }

  .boton-de-agregado {
    margin: 0;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    font-weight: bold;
  }

  .boton-suma-semana {
    margin: 0;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    font-weight: bold;
  }

  .boton-resta-semana {
    margin: 0;
    top: auto;
    left: 20px;
    bottom: 20px;
    right: auto;
    position: fixed;
    font-weight: bold;
  }
}